.empsearchmodule fieldset {border: 2px solid #B2B2B2;
                           margin: 5px;
                           border-radius: 10px;
                           -moz-border-radius: 10px;
                           -webkit-border-radius: 10px;
}

.empsearchmodule legend {text-align: left; margin-left: 15px;}
.empsearchmodule label {margin: 5px 25px 0px 25px; float:left;}
.empsearchmodule input {margin: 3px 25px 5px 25px; float:left; clear:left;}

.employees {text-align:left;}

ul.employees li {margin:0;}

ul.employees > li {margin:5px; padding:6px 6px 6px 9px; border:solid 2px #7F7F7F;
                   border-radius: 10px;
                   -moz-border-radius: 10px;
                   -webkit-border-radius: 10px;
                   clear:left;
}

ul.employees li ul li {padding-left:12px; margin-top: 2px;}

.empsearchmodule .message{text-align:left; margin: 3px 25px; color: green;}

div.empsearchmodule span.openclose
{display: inline-block; width: 10px; height: 10px;
 margin-left: 4px; border: 1px solid black;
 background: no-repeat center;}
