.timeeditbasketitem, .timeeditresultitem {
  text-align:left;
}

.timeeditbasketitem small, .timeeditresultitem small {
  font-size:65%;
}

#studcal .bold {
  font-weight:bold;
}

#studcal hr {
/*  width:140px;*/
}

#studcal li {
  margin:10px 0;
}

#studcal form li {
  margin:10px 5px;
  padding:5px;
  background-color:#e5e5e5;
}

#studcal li img {
  width:20px;
  height:20px;
}

#studcal fieldset {
  position:relative;
  margin:15px;
  padding:10px;
  border:3px solid #e5e5e5;
  border-radius:10px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
}

#studcal legend {
  position:absolute;
  top:-10px;
  left:20px;
  padding:0 7px;
  background-color:#fff;
}

#studcal .weekyear {
/*  width:200px;*/
/*  border-left:10px solid #e5e5e5;*/
  margin:30px auto 15px;
  font-size:135%;
}

#studcal .weekday {
  background-color: #AF1E2D;
  padding: 3px 0;
  color: white;
}

#studcal .date {
  margin: 0 10px;
}

#studcal .event {
  width:320px;
  margin:0 auto 10px;
}

#studcal .day, .hiddenBox {
  position:relative;
  display:inline-block;
  width:50px;
  height:60px;
/*  padding:5px;*/
  text-align:center;
  vertical-align:top;

  border:3px solid #e5e5e5;
}

#studcal .hiddenBox {
  visibility:hidden;
}

#studcal .eventwrap {
  display:inline-block;
  width:215px;
  padding:5px;
  border:3px solid #e5e5e5;
  text-align:right;
  vertical-align:top;
}

#studcal .name {
  font-size:115%;
  text-align:left;
}

#studcal .reason, #studcal .organiser {
  font-size:80%;
}

#studcal .timelocation div {
  display:inline-block;
}

#studcal .time {
  clear:left;
  float:left;
}

#studcal .location {
  clear:right;
  float:right;
  text-align:right;
}

#studcal .programmes, #studcal .subcourse, #studcal .organiser, #studcal .note {
  clear:left;
}
